<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bag</title>

</head>
<body>
<form method="POST" class="post-form" action="/store/">
    {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Bag Id:</label>
        <div class="col-sm-4">
        {{ form.bag_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Blood_Id:</label>
        <div class="col-sm-4">
        {{ form.blood_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Blood Group:</label>
        <div class="col-sm-4">
        {{ form.blood_group }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> RH type:</label>
        <div class="col-sm-4">
        {{ form.rh_type }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Amount:</label>
        <div class="col-sm-4">
        {{ form.amount }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Stored Date:</label>
        <div class="col-sm-4">
        {{ form.stored_date }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Expired_Date:</label>
        <div class="col-sm-4">
        {{ form.expired_date }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
       <button type="submit" class = "btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</form>
</body>
</body>
</html>