<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Test</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/blood_test_method/">
    {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> blood_id:</label>
        <div class="col-sm-4">
        {{ form.blood_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> HCV:</label>
        <div class="col-sm-4">
        {{ form.HCV }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> HIV:</label>
        <div class="col-sm-4">
        {{ form.HIV }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> HBsAg:</label>
        <div class="col-sm-4">
        {{ form.HBsAg }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Syphilis:</label>
        <div class="col-sm-4">
        {{ form.Syphilis }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> MP:</label>
        <div class="col-sm-4">
        {{ form.MP }}
        </div>
    </div>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
       <button type="submit" class = "btn btn-primary">Submit</button>
        </div>
    </div>


    </div>
</form>

</body>
</html>