<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charge</title>
</head>
<body>
<form method="POST" class="post-form" action="/cost/">
    {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Recipient Id:</label>
        <div class="col-sm-4">
        {{ form.serial_no }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Whole Blood Unit:</label>
        <div class="col-sm-4">
        {{ form.whole_blood_unit }}
        </div>
    </div>
 <div class="form-group row">
        <label class="col-sm-2 col-form-label">Whole Blood Rate Per Unit:</label>
        <div class="col-sm-4">
        {{ form.whole_blood_rate_per_unit }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Whole Blood Amount:</label>
        <div class="col-sm-4">
        {{ form.whole_blood_amount }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Crossmatch Blood Unit:</label>
        <div class="col-sm-4">
        {{ form.crossmatch_blood_unit }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Crossmatch Blood Rate Per Unit:</label>
        <div class="col-sm-4">
        {{ form.crossmatch_blood_rate_per_unit }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Crossmatch Blood Amount:</label>
        <div class="col-sm-4">
        {{ form.crossmatch_blood_amount }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Sub Total:</label>
        <div class="col-sm-4">
        {{ form.sub_total }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Discount:</label>
        <div class="col-sm-4">
        {{ form.discount }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Grand Total:</label>
        <div class="col-sm-4">
        {{ form.grand_total }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Signature:</label>
        <div class="col-sm-4">
        {{ form.signature }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
       <button type="submit" class = "btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</form>
</body>
</html>