<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physical Test</title>
</head>
<body>
<form method="POST" class="post-form" action="/test/">
    {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Donor Id:</label>
        <div class="col-sm-4">
        {{ tstform.reg_no }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Weight:</label>
        <div class="col-sm-4">
        {{ tstform.weight }}
        </div>
    </div>
 <div class="form-group row">
        <label class="col-sm-2 col-form-label">Haemoglobin Level:</label>
        <div class="col-sm-4">
        {{ tstform.haemoglobin_level }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Blood Pressure:</label>
        <div class="col-sm-4">
        {{ tstform.bp }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pulse:</label>
        <div class="col-sm-4">
        {{ tstform.pulse }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Temperature:</label>
        <div class="col-sm-4">
        {{ tstform.temp }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Heart:</label>
        <div class="col-sm-4">
        {{ tstform.heart}}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Lungs:</label>
        <div class="col-sm-4">
        {{ tstform.lungs }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Others:</label>
        <div class="col-sm-4">
        {{ tstform.others }}
        </div>
    </div>
  <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
       <button type="submit" class = "btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</form>
</body>
</html>