<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent Records</title>
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <table border="1" bordercolorlight="#006fdd" bordercolordark="#b9dcff">


    <tr>
        <th> Registration No </th>
        <th> Permitted to Donate </th>
        <th> Donor Consent </th>
        <th> Doctor Consent </th>
        <th> Date </th>
    </tr>
    </thead>
    <tbody>
   {% for item in consent %}
    <tr>
        <td>{{item.reg_no.reg_no}}</td>
         <td>{{item.permitted_to_donate}}</td>
         <td>{{item.donor_consent}}</td>
         <td>{{item.doctor_consent}}</td>
         <td>{{item.date}}</td>
        <td>
           <!--- <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil">Edit</span> </a>
           # <a href="/delete/{{ employee.id }}">Delete</a>  -->
        </td>
    </tr>
  {% endfor %}
    </tbody>
</table>
</body>
</html>