<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Donation History</title>

</head>
<body>
<form method="POST" class="post-form" action="/blood_donation_method/">
    {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Donor Id:</label>
        <div class="col-sm-4">
        {{ donationform.reg_no }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Blood Donation Before:</label>
        <div class="col-sm-4">
        {{ donationform.blood_donate_before_boolean }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Gap of Blood Donation:</label>
        <div class="col-sm-4">
        {{ donationform.gap_of_blood_donation }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Is Recipient Relative:</label>
        <div class="col-sm-4">
        {{ donationform.is_recipient_relative }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> patient_name :</label>
        <div class="col-sm-4">
        {{ donationform.patient_name }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
       <button type="submit" class = "btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</form>
</body>
</html>